body {
    line-height: 36px;
}
header {
    position: relative;
    height: 48vh;
    background: url(../img/header2@2x.png) no-repeat center;
    background-size: cover;
}
header:after {
    content: "";
    width: 100%;
    height: 14px;
    background-color: #1B4A66;
    position: absolute;
    top: 48vh;
}

img {
    align-self: center;
}
.social-links li,
.contact-us__social li{
    list-style: none;
}
.social-links {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: flex;
    padding: 0;
}
.contact-us__social {
    display: flex;
    padding: 0;
    margin-top: 4%;
}
.contact-us__social-link {
    color: #ffffff;
    margin-right: 45px;
    font-size: 28px;
}
.social-links a {
    color: #000000;
    margin-right: 45px;
    font-size: 28px;
}
.social-links a:hover,
.contact-us__social-link:hover {
    color: #C9554E;
    transition: 0.25s ease-in-out;
}
.fa:hover  header:after {
    background-color: #C9554E;
}
.row {
    margin-right: 0;
}
.container {
    max-width: 1250px;
}
.navbar {
    padding-top: 45px;
}
.navbar-brand {
    width: 290px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    margin-left: 93px;
    font-size: 18px;
    font-weight:700;
}
.nav-item {
    cursor: pointer;

}
.services {
    padding-top: 14px;
    margin: 0 auto;
    margin-bottom: 20vh;
    height: 50vh;
}
.services__header {
    margin-top: 5vh;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 2vh;
}
.services__header:after {
    position: absolute;
    bottom: 0;
    left: 46%;
    content: "";
    height: 2px;
    width: 79px;
    background-color: #1B4A66;
}
.align-items-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__item {
    height: 335px;
    padding: 50px 50px;
    margin-right: 80px;
}
.services__item:hover {
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 0 9px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
.services__item svg {
    fill: #1B4A66;
    max-width: 230px;
    height: 100%;
}
.services__item:nth-child(2) svg {
    height:80%;
}
.services .services__item:hover svg {
    fill: #C9554E;
}
.services__item:last-child {
    margin-right: 0;
}
.services__item:nth-child(2) {
    padding-bottom: 25px;
}
.services a {
    text-decoration: none;
    color: #1B4A66;
}
.services a:hover {
    color: #C9554E;
}
.services__item-header {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin: 0;
    align-self: center;
}
@media (max-width: 1200px) {
    .services {
        width: 50%;
        padding-top: 14px;
        margin: 0 auto;
        margin-bottom: 20vh;
        height: 80vh;
    }
    .align-items-center {
        justify-content: center;
    }
    .services__item {
        margin-right: 0;
    }
}
.services .col-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: normal;
}
.services-description .col {
    padding: 0;
}
.services-description .services-description__legend {
    text-align: center;
    background-color: #ffffff;
}
.services-description__legend-header {
    padding-top: 10%;
    font-size: 36px;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 5%;
    position: relative;
}
.services-description__legend-header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #C9554E;
    height: 2px;
    width: 100%;
}
.services-description__legend-item {
    padding-top: 30px;
}
.services-description__legend-item,
.services-description__list{
    width: 65%;
    margin: 0  auto;
    font-size: 24px;
}
.services-description__list {
    padding-bottom: 40%;
}
.list-legend {
    text-align: left;
    padding-top: 4%;
    width: 65%;
    font-size: 24px;
    margin: 0 auto 4%;
}
li {
    text-align: left;
}
.contact-us {
    position: relative;
    background-color: #F2F2EF;
    height: 780px;
    padding: 80px 0;
}
.contact-us__header {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 70px;
}
.contact-us__legend {
    font-size: 24px;
    color: #ffffff;
    width: 50%;
    padding: 50px 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.contact-us__left {
    position: relative;
    background-color: #1B4A66;
    height:654px;
    width: 65%;
    padding: 115px 0;
    padding-left: 200px;
}
.contact-us__form {
    background-color: #fff;
    position: absolute;
    top: 148px;
    left: 45%;
    width: 45%;
    height: 508px;
    border: 15px solid;
    border-image: linear-gradient(to left, rgba(191, 195, 189, 0.37) 42%, rgb(78, 137, 176) 72%);
    border-image-slice: 1;
    padding:50px;
}
form {
    display: flex;
    flex-direction: column;
}
.form__input,
.form__textarea {
    outline: none;
    resize: none;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 2px solid #1B4A66;
}
.btn {
    outline: 0 !important;
    border: 0;
    font-size: 0.7vw;
    border-radius: 0;
    width: 30%;
    overflow: hidden;
    background-color: #1B4A66;
    text-transform: uppercase;
    color: #ffffff;
}
.btn:hover {
    background-color: #C9554E;
    transition: 0.25s ease-in-out;
}
.btn:active {
    background-color: #6f3737;
}
.services-description__btn {
    position: relative;
    top: 60px;
    padding: 20px;
    width:40%;
}
.form__submit {
    margin-top: 30px;
}
footer {
    background-color: #1B4A66;
}
.page-footer {
    display: flex;
    color: #ffffff;
    font-size: 22px;
    justify-content: space-between;
    padding: 75px 200px;
}
.footer__site {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    padding: 50px 130px;
    padding-top: 30px;
    border-top: 2px solid #ffffff;
}
.page-footer__list {
    width: 25%;
}
.page-footer__list p:first-child {
    padding: 5px;
    border-bottom: 2px solid #ffffff;
}
.page-footer__list ul {
    padding: 0;
    list-style: none;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #C9554E;
    transition: width .3s;
}
.active {
    color: #ffffff !important;
}
.active:after {
    color: #ffffff;
    width: 100%;
}
.nav-link:hover::after,
.nav-link:active::after {
    width: 100%;
    transition: width .3s;
}
.services-description__visualisation,
.services-description__web-design,
.services-description__graphic-design {
    display: flex;
}
.services-description__legend {
    width: 50%;
}
.services-description__img {
    width: 50%;
}
@media (max-width: 1024px) {
    .services-description__visualisation,
    .services-description__web-design,
    .services-description__graphic-design {
        flex-direction: column;
    }
    .services-description__legend {
        width: 100%;
    }
    .services-description__img {
        width: 100%;
        order: -1;
    }
    .btn {
        font-size: 2vw;
    }
    .services-description__btn {
        width: 30vw;
    }
}

/* Projects page styling */

.secondary-header {
    height: auto;
    background: 0;
    background-color: #1B4A66;
}
.secondary-header::after {
    display: none;
}
.secondary-navbar {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 45px;
}
.secondary-header .secondary-navbar .secondary-navbar__link {
    color: #ffffff;
}
.secondary-header .secondary-navbar .secondary-navbar__link:hover {
    color: #ffffff;
}
.projects-main-content {
    margin-bottom: 10%;
}
.projects__item-img {
    height: 419px;
    background-size: cover;    
}
.projects__item:first-child .projects__item-img {
    background: url(../img/webdevelopment-bg.png) no-repeat;
    background-size: cover;        
}
.projects__item:nth-child(2) .projects__item-img {
    background: url(../img/archi.png) no-repeat;
    background-size: cover;        
}
.projects__item:last-child .projects__item-img {
    background: url(../img/graphic.png) no-repeat;
    background-size: cover;
}

.projects__item-img {
    transition: all 0.2s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    height: 419px;
    margin-bottom: 5px;
}
.projects {
    width: 80%;
    margin: 0 auto;
    padding-top: 8%;
}
.projects__item {
    overflow: hidden;
    color: #ffffff;
    width: 33%;
}
.projects__item:hover {
    text-decoration: none;
    color: #ffffff;
}
.projects__item-header {
    text-decoration: none;
    background-color: #1B4A66;
    font-size: 1.1vw;
    height: 120px;
    text-align: center;
    padding: 22px 78px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects__header {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    width: 22vw;
    font-size: 36px;
    margin: 0 auto;
    padding-top: 3%;
}
.projects__header:after {
    position: absolute;
    bottom: -26px;
    left: 42%;
    content: "";
    height: 2px;
    width: 79px;
    background-color: #1B4A66;
}
.projects__item:hover .projects__item-img  {
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.projects__item:hover .projects__item-header {
    background-color: #C9554E;
    transition: all 0.3s ease-in;
}
/*projects__item:active .projects__item-header {*/
    /*background-color: #6f3737;*/
    /*transition: all 0.3s ease-in;*/
/*}*/
 @media (max-width: 1200px) {
     .align-items-center {
         flex-direction: column;
     }
     .projects__item {
         width: 100%;
         margin-bottom: 50px;
     }
     .projects__item-header {
         font-size: 2.6vw;
     }
     .projects__item-img {
         background-position: 0 !important;
     }
     .projects__header:after {
         left: 30%;
     }
 }
