body {
    line-height: 36px;
}
header {
    position: relative;
    height: 48vh;
    background: url(img/header2@2x.png) no-repeat center;
    background-size: cover;
}
header:after {
    content: "";
    width: 100%;
    height: 14px;
    background-color: #1B4A66;
    position: absolute;
    top: 48vh;
}

img {
    align-self: center;
}
.social-links li,
.contact-us__social li{
    list-style: none;
}
.social-links {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: flex;
    padding: 0;
}
.contact-us__social {
    display: flex;
    padding: 0;
    margin-top: 4%;
}
.contact-us__social-link {
    color: #ffffff;
    margin-right: 45px;
    font-size: 28px;
}
.social-links a {
    color: #000000;
    margin-right: 45px;
    font-size: 28px;
}
.social-links a:hover,
.contact-us__social-link:hover {
    color: #C9554E;
    transition: 0.25s ease-in-out;
}
.row {
    margin-right: 0;
}
.container {
    max-width: 1250px;
}
.navbar {
    padding-top: 45px;
}
.navbar-brand {
    width: 290px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    margin-left: 93px;
    font-size: 18px;
    font-weight:700;
}
.features {
    padding-top: 14px;
    margin-bottom: 20vh;
    height: 50vh;
}
.features__header {
    margin-top: 5vh;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 2vh;
}
.features__header:after {
    position: absolute;
    bottom: 0;
    left: 46%;
    content: "";
    height: 2px;
    width: 79px;
    background-color: #1B4A66;
}
.features .col-sm {
    width: 419px;
    height: 335px;
    padding: 50px 72px;
    margin-right: 80px;
}
.features .col-sm:hover {
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 0 9px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
.features .col-sm:last-child {
    margin-right: 0;
}
.features .col-sm:nth-child(2) {
    padding-bottom: 25px;
}
.features a {
    text-decoration: none;
    color: #1B4A66;
}
.features a:hover {
    color: #C9554E;
}
.features__item-header {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin: 0;
    align-self: center;
}
.features .col-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: normal;
}
.features-description .col {
    padding: 0;
}
.features-description .features-description__legend {
    text-align: center;
    background-color: #ffffff;
}
.features-description__legend-header {
    padding-top: 10%;
    font-size: 36px;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 10%;
    position: relative;
}
.features-description__legend-header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #C9554E;
    height: 2px;
    width: 100%;
}
.features-description__legend-item {
    padding-top: 30px;
}
.features-description__legend-item,
.features-description__list{
    width: 65%;
    margin: 0  auto;
    font-size: 24px;
}
.features-description__list {
    padding-bottom: 40%;
}
.list-legend {
    text-align: left;
    padding-top: 4%;
    width: 65%;
    font-size: 24px;
    margin: 0 auto 4%;
}
li {
    text-align: left;
}
.contact-us {
    position: relative;
    background-color: #F2F2EF;
    height: 780px;
    padding: 80px 0;
}
.contact-us__header {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 70px;
}
.contact-us__legend {
    font-size: 24px;
    color: #ffffff;
    width: 50%;
    padding: 50px 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.contact-us__left {
    position: relative;
    background-color: #1B4A66;
    height:654px;
    width: 65%;
    padding: 115px 0;
}
.contact-us__form {
    background-color: #fff;
    position: absolute;
    top: 148px;
    left: 45%;
    width: 45%;
    height: 508px;
    border: 15px solid;
    border-image: linear-gradient(to left, rgba(191, 195, 189, 0.37) 42%, rgb(78, 137, 176) 72%);
    border-image-slice: 1;
    padding:50px;
}
form {
    display: flex;
    flex-direction: column;
}
.form__input,
.form__textarea {
    outline: none;
    resize: none;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 2px solid #1B4A66;
}
.btn {
    outline: 0 !important;
    border: 0;
    border-radius: 0;
    width: 30%;
    overflow: hidden;
    background-color: #1B4A66;
    text-transform: uppercase;
    color: #ffffff;
}
.btn:hover {
    background-color: #C9554E;
    transition: 0.25s ease-in-out;
}
.btn:active {
    background-color: #6f3737;
}
.features-description__btn {
    position: relative;
    top: 150px;
}
.form__submit {
    margin-top: 30px;
}
footer {
    background-color: #1B4A66;
}
.page-footer {
    display: flex;
    color: #ffffff;
    font-size: 22px;
    justify-content: space-between;
    padding: 75px 260px;
}
.footer__site {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    padding: 50px 130px;
    border-top: 2px solid #ffffff;
}
.page-footer__list {
    width: 25%;
}
.page-footer__list p:first-child {
    padding: 5px;
    border-bottom: 2px solid #ffffff;
}
.page-footer__list ul {
    padding: 0;
    list-style: none;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #C9554E;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
//transition: width .3s;
}